{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block description %}
About Page: Promise Keeper is a platform which keeps record of Indian Politician promises made to public during elections or on media and keeps a check wheather they delivered their promises.
{% endblock description %}

{% block about %}active{% endblock about %}

{% block body %}


<div class="about" style="padding-top: 1%;">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Promise Keeper</h1>
        <p class="lead mb-0">is a platform which keeps record of Indian Politician promises made to public during elections or on media and keeps a check wheather they delivered their promises.</p>
        </br>
        <a class="btn btn-outline-dark" href="/party/BJP" role="button">View Current Government Performance</a>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Disclaimer</h1>
        <p class="lead mb-0">All the data is sourced by Media Outlets and can be verified by clicking the source links provided</p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

